$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// learning!
// html *{ border: 1px black solid; }

#logo{
  width: 117px;
  height: 25px;
}

#outermost{
  margin-top: 25px;
}

#header{
  margin-bottom: 20px;
}

#header > div{
  padding: 0px;
  margin: 0px;
}

#model-message{
  text-align: right;
  margin-top: 10px;
  @media only screen and (max-width : 856px){
    text-align: left;
  }

  font-size: 12px;
  font-style: italic;
  color: #727272;
  text-transform: uppercase;
}

#operational-message{
  text-align: left;
  border-color: #99ccb2;
  color: #396;
}

#bodyHeader{
  margin-bottom: 30px;
  h4{
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 1px solid #e8e8e8;
  }
  p{
    color: #727272;
  }
}

#footer{
  padding-top: 8px;
  border-top: 1px solid #e8e8e8;
}

#footer .col-md-6{
  padding: 0px;
}

#footer-menu{
  margin: 0px;
  padding: 0px;

  li{
    list-style: none;
    margin-right: 20px;
    float: left;
  }
}

#copyright {
  float: right;
  font-size: 0.9em;
  margin: 0px;
}

tbody td{
  padding-left: 0px !important;
}

.service-name{
  text-transform: lowercase;
}
